<div>
  <div class="title">
    <h1>Create A Subscription</h1>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24" nzOffset="2">
      <form nz-form [formGroup]="subscriptionForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired
            >Amount</nz-form-label
          >
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-input-number
              (keypress)="numberOnly($event)"
              formControlName="amount"
              [nzStep]="1"
              [nzMin]="1"
            ></nz-input-number>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired
            >Subscription Type</nz-form-label
          >
          <nz-form-control [nzSm]="4" [nzXs]="24">
            <nz-select (ngModelChange)="typeChange()" formControlName="type">
              <nz-option nzValue="Daily" nzLabel="Daily"></nz-option>
              <nz-option nzValue="Weekly" nzLabel="Weekly"></nz-option>
              <nz-option nzValue="Monthly" nzLabel="Monthly"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired
            >Duration</nz-form-label
          >
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <div nz-row [nzGutter]="16">
              <div nz-col [nzSpan]="2.5">
                <span *ngIf="type" nz-tooltip [nzTooltipTitle]="tooltipInfo">
                  <nz-input-number
                    [nzMin]="minVal"
                    [nzMax]="maxVal"
                    formControlName="duration"
                  ></nz-input-number>
                </span>
              </div>
              <div *ngIf="type === 'Daily'" nz-col [nzSpan]="8">
                Day(s)
              </div>
              <div *ngIf="type === 'Weekly'" nz-col [nzSpan]="8">
                Week(s)
              </div>
              <div *ngIf="type === 'Monthly'" nz-col [nzSpan]="8">
                Month(s)
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control
            [nzXs]="{ span: 24, offset: 0 }"
            [nzSm]="{ span: 16, offset: 8 }"
          >
            <button nz-button nzType="primary">Submit</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzOffset="9">
      <nz-table [nzNoResult]="' '">
        <thead>
          <tr>
            <th>Subscription Type</th>
            <th>Invoice Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{subsType}}</td>
            <td id="date"></td>
            <td>{{subsAmount}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
 